@import "tailwindcss";

/* COLOR PALETTE */
@theme {

    --color-primary: #222125;
    --color-secondary: #ced1ff;

    --color-tertiary: #eff0ff;
    --color-quaternary: #0e3af6;

    --color-quinary: #0a2fcd;

    --color-white: #ffffff;
    --color-black: #000000;
}

/* RESPONSIVE DESIGN */
@theme {

    /* PHONE */
    --breakpoint-xs: 18.75rem !important; /* 300px Vertical */
    --breakpoint-2xs: 25.75rem !important; /* 412px Vertical */

    /* TABLETS */
    --breakpoint-sm: 37.5rem !important; /* 600px Vertical */ 
    --breakpoint-2sm: 52.5rem !important; /* 840px Horizontal */
    --breakpoint-3sm: 64rem !important; /* 1024px Horizontal */

    /* LAPTOPS y DESKTOP */
    --breakpoint-md: 80rem !important; /* 1280px Vertical */
    --breakpoint-2md: 100rem !important; /* 1600px Vertical */
    --breakpoint-3md: 120rem !important /* 1920px Vertical */
}

body {
    @apply bg-primary max-w-[1600px] mx-auto;
}